body {
  margin: 0;
  background-color: #FAF3E0;
  font-family: "Quicksand", sans-serif;
}

.container-head-contact {
  font-size: 12px;
  height: 20px;
  padding: 5px;
  
  color: #FFFFFF;
  background-color: #22577A;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-head-about {
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  padding: 0 0 0 10px;

  color: #FFFFFF;
  background-color: #88A47C;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-head-about-menu {
  width: 280px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h2 {
  width: 70%;
  margin: 30px 15px 30px 15px;
}

.line {
  border: solid 1px #88A47C;
}

.container-body {
  margin: 15px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

p {
  text-align: justify;
}
